@media (max-width: 750px) {
    body{
        font-size: 12px;
    }
    .pokedex{
        flex-direction: column;
        padding: 30px 0;
    }
    .pokemon-card{
        max-width: 300px;
    }
    .pokemon-card .pokemon-card-image{
        width: 200px;
        height: 200px;
    }
    .pokemon-card .cards-informations{
        padding: 60px 30px 30px;
        margin-top: -50px;
    }
    .pokemon-card .cards-informations .pokemon-details{
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .pokemon-card .cards-informations h3{
        font-size: 16px;
    }
    .list-menu{
        max-width: 300px;
    }
    .list-menu ul{
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .list-menu .pokemon{
        width: 140px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 10px;
    }
    .list-menu .pokemon span{
        padding-right: 5px;
    }
}